
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 adworks-banner bg-adworks-light">
        <p class="lead">AdventureWorks ERP - Enterprise resource planning for SMB's</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="images/accountant 2.svg" class="svg-images" alt="Accounting Image">
    </div>
</div>